<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Crazysundesign.com!{% endblock %}</title>
        {% block stylesheets %}

            <meta http-equiv="content-type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

            <!-- BEGIN PLUGIN CSS -->
            <link href="{{ asset("bundles/crazysunmain/") }}plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen">
            <link href="{{ asset("bundles/crazysunmain/") }}plugins/jquery-slider/css/jquery.sidr.light.css" rel="stylesheet" type="text/css" media="screen">
            <!-- END PLUGIN CSS -->

            <!-- BEGIN CORE CSS FRAMEWORK -->
            {#<link href="{{ asset("bundles/crazysunmain/") }}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">#}
            {#<link href="{{ asset("bundles/crazysunmain/") }}plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">#}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
            <link href="{{ asset("bundles/crazysunmain/") }}plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
            <link href="{{ asset("bundles/crazysunmain/") }}css/animate.min.css" rel="stylesheet" type="text/css">
            <!-- END CORE CSS FRAMEWORK -->

            <!-- BEGIN CSS TEMPLATE -->
            <link href="{{ asset("bundles/crazysunmain/") }}css/style.css" rel="stylesheet" type="text/css">
            <link href="{{ asset("bundles/crazysunmain/") }}css/responsive.css" rel="stylesheet" type="text/css">
            <link href="{{ asset("bundles/crazysunmain/") }}css/custom-icon-set.css" rel="stylesheet" type="text/css">
            <!-- END CSS TEMPLATE -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="">

        <div class="header navbar navbar-inverse ">
            <!-- BEGIN TOP NAVIGATION BAR -->
            <div class="navbar-inner">
                <div class="header-seperation">
                    <ul style="display:none" id="main-menu-toggle-wrapper" class="nav pull-left notifcation-center">
                        <li class="dropdown"> <a class="" href="#main-menu" id="main-menu-toggle">
                                <div class="iconset top-menu-toggle-white"></div>
                            </a> </li>
                    </ul>
                    <!-- BEGIN LOGO -->
                    <a href=""><img width="106" height="21" data-src-retina="assets/img/logo2x.png" data-src="assets/img/logo.png" alt="" class="logo" src="assets/img/logo.png"></a>
                    <!-- END LOGO -->
                    <ul class="nav pull-right notifcation-center">
                        <li id="header_task_bar" class="dropdown">
                            <a data-toggle="" class="dropdown-toggle active" href="{{ path('_home') }}">
                                <div class="iconset top-home"></div>
                            </a> </li>
                        <li style="display:none" id="portrait-chat-toggler" class="dropdown"> <a class="chat-menu-toggle" href="#sidr">
                                <div class="iconset top-chat-white "></div>
                            </a> </li>
                    </ul>
                </div>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <div class="header-quick-nav">
                    <!-- BEGIN TOP NAVIGATION MENU -->

                    <!-- END TOP NAVIGATION MENU -->
                    <!-- BEGIN CHAT TOGGLER -->
                    <div class="pull-right">
                        <div class="chat-toggler">
                            <a data-original-title="Notifications" data-toggle="dropdown" data-content="" data-placement="bottom" id="my-task-list" class="dropdown-toggle" href="#">
                                <div class="user-details">
                                    <div class="username">{% if app.user %}{{ app.user.email }}{% endif %}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- END CHAT TOGGLER -->
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END TOP NAVIGATION BAR -->
        </div>

        <div class="page-container row">
            <div id="main-menu" class="page-sidebar">
                <p></p>
                <ul>
                    <li class="start active">
                        <a href="{{ path('_home') }}">
                            <i class="icon-custom-home"></i>
                            <span class="title">Главная</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('_ad') }}">
                            <i class="fa fa-stop"></i>
                            <span class="title">{{ "Тизеры" | trans }}</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="">
                            <i class="fa fa-th-large"></i>
                            <span class="title">{{ "Блоки" | trans }}</span>
                        </a>
                    </li>

                </ul>
                <a class="scrollup" href="#" style="display: none;">Scroll</a>
                <div class="clearfix"></div>
                <!-- END SIDEBAR MENU -->
            </div>
            <div class="page-content">
                <div class="clearfix"></div>
                <div class="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <!-- BEGIN CORE JS FRAMEWORK-->
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/breakpoints.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
            <!-- END CORE JS FRAMEWORK -->
            <!-- BEGIN PAGE LEVEL JS -->
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/pace/pace.min.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-block-ui/jqueryblockui.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-slider/jquery.sidr.min.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
            <script src="{{ asset("bundles/crazysunmain/") }}plugins/jquery-gmap/gmaps.js" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- PAGE JS -->
            <script src="{{ asset("bundles/crazysunmain/") }}js/google_maps.js" type="text/javascript"></script>
            <!-- BEGIN CORE TEMPLATE JS -->
            <script src="{{ asset("bundles/crazysunmain/") }}js/core.js" type="text/javascript"></script>
            {#<script src="{{ asset("bundles/crazysunmain/") }}js/chat.js" type="text/javascript"></script>#}
            {#<script src="{{ asset("bundles/crazysunmain/") }}js/demo.js" type="text/javascript"></script>#}
            <!-- END CORE TEMPLATE JS -->

        {% endblock %}
    </body>
</html>
